:root {
  --mainColor: #ff9800;
}

/*Overriding The Default Text Selection Color*/
::selection {
  background: #e3c3ff;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/Bebas_Neue-Tipografia_Secundaria/BebasNeue-Regular.otf"),
  url("../fonts/Bebas_Neue-Tipografia_Secundaria/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: 'Monument Extended';
  src: url("../fonts/Monument_Extended-Tipografia_Principal/MonumentExtended-Regular.otf"),
  url("../fonts/Monument_Extended-Tipografia_Principal/MonumentExtended-Regular.ttf");
}

body {
  margin:0;
  font-family: 'Bebas Neue';
}

h2{
  font-size: 45px;
}

.container1 {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  background-color:#999;
  position:absolute;
  width:100vh;
  height:100vw;
  scroll-snap-type: x mandatory; /*Snap scroll horizontal*/
}

.container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size: 0;
}

.container1 .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
  scroll-snap-align: start;/*Snap scroll action*/
}

.flex-wrapper {
  display: flex;
  width:100vw;
  height:100vh;
  align-items: center;
  font-size: 86px;
  color:#FFF;
  justify-content: center;
  position:absolute;
  line-height: .9;
  font-weight:bold;
  white-space: normal;
}

a, a:visited, a:active {
  color: #000;
}

a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

#contacto  a, #contacto a:visited, #contacto a:active {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .5s;
  font-family: "Monument Extended";
}

#contacto  a:hover {
  background-size: 4px 50px;
  color: #000;
  text-decoration: none;
  font-family: "Monument Extended";
}

.one {
  background: url('../img/textura.png') no-repeat top center local;
  /* background-size: cover; */
  height: 100%;
}

.text{
  font-size: 30px;
  text-align: center;
  line-height: 1.2;
    font-family: 'Bebas Neue', sans-serif;
    color: black;
    word-wrap: break-word;
}

.list{
  font-size: 35px;
  text-align: justify;
  line-height: 1.2;
    color: black;
}

#list-title{
  font-size: 65px;
    font-family: "Monument Extended", sans-serif;
}

#barlogo{
  height: 50px;
  width: 100px;
}

#logo {
  max-width: 100vw;
}

.copywrite{
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: small;
    /*writing-mode: vertical-rl;*/
}

.map{
  font-size: xx-large;
}

.two {
  background-color: salmon;
}
.three {
  background-color: darkorange;
}
.four {
  background-color: #E84B30;
}

/* underbar from: https://speckyboy.com/underline-text-effects-css/ */
.page-menu {
  transform: rotate(90deg) translateY(50vh);
  transform-origin: bottom left;
  list-style-type: none;
  position: sticky;
  z-index: 100;
  top: 0;
  color: black;
  font-size: 20pt;
  padding: 0;
  float: right;
}

.page-menu li {
  float: left;
  padding: 0px 10px;
  transition: 0.5s ease;
}

.page-menu li.active a{
  color: white;
}

.page-menu li:nth-of-type(1):hover ~ .underbar{
  left: 10px;
  width: 96px;
  /* background: rgba(100,100,200,1); */
}
.page-menu li:nth-of-type(2):hover ~ .underbar{
  left: 125px;
  width: 60px;
}
.page-menu li:nth-of-type(3):hover ~ .underbar {
  left: 200px;
  width: 85px;
}
.page-menu li:nth-of-type(4):hover ~ .underbar {
  left: 267px;
  width: 90px;
}

.underbar{
  width: 0;
  height: 5px;
  background: rgba(100,100,200,0);
  top: 30px;
  position: absolute;
  background: black;
  transition: 0.5s ease;
  pointer-events: none;
}

@media (max-width: 768px) {
  .list{
    font-size: 24px;
    text-align: justify;
    line-height: 1.7;
    color: white;
  }
  #list-title{
    font-size: 40px;
    font-family: "Monument Extended", sans-serif;
  }

  #portafolio p {
    padding: 0px 20px;
    text-align: justify;
  }

  #contactanos {
    font-size: 10vw;
  }
}